 // Resets

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Imports

@import url(https://fonts.googleapis.com/css?family=Raleway);
$main-font-stack: "Raleway", serif;

// Mixins

@mixin flex-row($center) {
  display: flex;
  justify-content: $center;
  align-items: center;
}

// Global

body {
  font-family: $main-font-stack;
}

// Layout

#content {
  display: grid;
  grid-template: min-content auto / min-content auto;
}

nav {
  @include flex-row(space-between);
  grid-column: 1 / span 2;
}

header {
  @include flex-row(space-between);
}

// Dashboard project

.properties {
  @include flex-row(space-between);
}

.hidden {
  display: none;
}
